<h1>New Menu</h1>

<% if @menu.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <% @menu.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>

<%= form_for @menu do |f| %>
  <div class="">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="">
    <%= f.label :pdf_file %>
    <%= f.attachment_field :pdf_file %>
  </div>

  <div class="">
    <%= f.submit %>
  </div>
<% end %>
