<h1><%= @taco.name %></h1>

<dl class="">
  <dt>Price</dt>
  <dd><%= number_to_currency @taco.price %></dd>
  <dt>User</dt>
  <dd><%= @taco.user.username %></dd>
</dl>

<%= link_to "Update Taco", edit_taco_path(id: @taco.id) %>

<%= link_to "Delete Taco", taco_path(id: @taco.id), method: :delete %>


<%= image_tag @taco.photo_url %>
