<div class="page-header">
  <h1><%= @taco.name %></h1>
</div>

<div class="row">
  <div class="col-xs-4">
    <dt>Price</dt>
    <dd>
      <%= number_to_currency @taco.price %>
      <%= link_to 'Buy This Taco', new_charge_path(taco_id: @taco.id) %>
    </dd>
  </div>
  <div class="col-xs-4">
    <dt>User</dt>
    <dd><%= @taco.user.username %></dd>
  </div>
  <div class="col-xs-4">

    <% if @taco.user == @current_user %>
      <%= link_to "Update Taco", edit_taco_path(id: @taco.id), class: 'btn btn-default' %>

      <%= link_to "Delete Taco", taco_path(id: @taco.id), method: :delete, class: "btn btn-danger" %>
    <% end %>

    <%= link_to new_share_path(taco_id: @taco.id), class: "btn btn-success" do %>
      <i class="glyphicon glyphicon-envelope"></i> Share Taco
    <% end %>

  </div>
</div>





<%= image_tag @taco.photo_url %>
