<!DOCTYPE html>
<html>
<head>
  <title>TacoStand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= link_to 'Home', root_path %>
    
    <%= link_to 'Sign Out', sign_in_path, method: :delete %>
  </header>

  <% if notice %>
    <p>
      <%= notice %>
    </p>
  <% end %>

<%= yield %>

</body>
</html>
